/* PLAQUE RULES */

.plaque .col-1, .plaque .col-2, .plaque .col-3, .plaque .col-4, .plaque .col-5, .plaque .col-6, .plaque .col-7, .plaque .col-9, .plaque .col-10, .plaque .col-11, .plaque .col-12 {
    background-color: black;
    min-height: 50px;
    padding: 10px;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    justify-content: center;
    line-height: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.plaque .col-8 {
    display: flex;
    align-items: flex-end;
}

img {
    width: 90%;
}

.plaque {
    max-width: 1100px;
    margin: auto;
}


p {
    font-size: 120px;
    margin: 0;
    padding-left: 20px;
    text-align: left;
    line-height: 100px;
}


